<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @donor.name %>
</p>

<p>
  <strong>Img:</strong>
  <%= @donor.img %>
</p>

<p>
  <strong>Major:</strong>
  <%= @donor.major %>
</p>

<%= link_to 'Edit', edit_donor_path(@donor) %> |
<%= link_to 'Back', donors_path %>
