<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @faculty.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @faculty.last_name %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @faculty.bio %>
</p>

<p>
  <strong>Active:</strong>
  <%= @faculty.active %>
</p>

<p>
  <strong>Img:</strong>
  <%= @faculty.img %>
</p>

<%= link_to 'Edit', edit_faculty_path(@faculty) %> |
<%= link_to 'Back', faculties_path %>
