<div class="jumbotron">
  <h1>Our Board of Directors</h1>
</div>

<div class="board innerContainer">
  <div class="col-md-4">
    <img class="img-rounded img-responsive pull-left" src="https://s3-us-west-1.amazonaws.com/acamcenter/board.jpg" />
  </div>

  <div class="col-md-8">
    <p>Our Board of Directors is a group of highly committed entrepreneurs and philanthropists working together to make a real difference in the lives of young people and the community in general. Working closely with our director, Ellen Sell, provide vision, guidance and resources to maintain ACAM vibrant and growing, and to support our mission and vision of a better future for young people and families in the Union District of Los Pico Angeles.</p>

    <p>Members:</p>
      <ul>
      <% if user_signed_in? %>
        <li><%= link_to 'Add Member!', new_board_path %></li>
      <% end %>

      <% @boards.each do |b| %>
        <li><%= b.first_name %> <%= b.last_name %> - <%= b.title %>
          <% if user_signed_in? %>
            <%= link_to ('<span class="glyphicon glyphicon-pencil"></span>').html_safe, edit_board_path(b) %>
            <%= link_to ('<span class="glyphicon glyphicon-trash"></span>').html_safe, b, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </li>
      <% end %>

  </div>
</div>