<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @board.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @board.last_name %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @board.bio %>
</p>

<p>
  <strong>Active:</strong>
  <%= @board.active %>
</p>

<p>
  <strong>Title:</strong>
  <%= @board.title %>
</p>

<%= link_to 'Edit', edit_board_path(@board) %> |
<%= link_to 'Back', boards_path %>
