<%= form_for(@course) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :class_name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :prerequisites %><br>
    <%= f.text_area :prereq %>
  </div>
  <div class="field">
    <%= f.label :days %><br>
    <%= f.text_area :days %>
  </div>
  <div class="field">
    <%= f.label :times %><br>
    <%= f.text_area :times %>
  </div>
  <div class="field">
    <%= f.label :instructor %><br>
    <%= f.text_area :instructor %>
  </div>
  <div class="field">
    <%= f.label :active %><br>
    <%= f.check_box :active %>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <%= f.text_field :image %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
