<div class="container">
  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading"><%= @posts[-1].title %></h2>
      <p class="lead"><%= @posts[-1].body %></p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive center-block" src="http://lorempixel.com/500/500/abstract" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 col-md-push-5">
      <h2 class="featurette-heading"><%= @posts[-2].title %></h2>
      <p class="lead"><%= @posts[-2].body %></p>
    </div>
    <div class="col-md-5 col-md-pull-7">
      <img class="featurette-image img-responsive center-block" src="http://lorempixel.com/500/500/transport" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading"><%= @posts[-3].title %></h2>
      <p class="lead"><%= @posts[-3].body %></p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive center-block" src="http://lorempixel.com/500/500/city" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

</div>
