<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="ACAM, Angelica Center for Arts and Music" content="Pico-Union, Los Angeles, Music School, Youth, Theater, Free">
  <meta name="JUSTJIFFY" content="more at www.justjiffy.com">

  <title>Angelica Center for Arts and Music</title>
  <!-- Google Font -->
  <link href='https://fonts.googleapis.com/css?family=Didact+Gothic|Patrick+Hand+SC' rel='stylesheet' type='text/css'>

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  <!-- Bootstrap CSS -->
  <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css' %>

  <!-- Custom CSS & others -->
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>

  <!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

</head>

<body>
  <%= render 'layouts/navbar' %>

<div class="container">
    <%= yield %>
</div>

  <footer>
    <address>
      <p class="pull-right">
        <a href="https://www.facebook.com/Angelica-Center-for-Arts-and-Music-110467198993372/timeline" target="_blank">
          <i class="fa fa-3x fa-facebook-official"></i>
        </a>
      </p>
      <p class="address">
      Angelica Center for Arts and Music<br>
      a 501(c)3 non-profit organization<br>
      1345 S. Burlington<br>
      Los Angeles, CA<br>
      P: (626)230-6696
      </p>
    </address>
  </footer>

  <!-- Bootstrap JS -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</body>
</html>
